dask==2025.11.0
fastapi[standard]==0.124.0
httpx==0.28.1
matplotlib==3.10.7
netCDF4==1.7.3
numpy==2.3.5
pandas==2.3.3
pydantic==2.12.5
pytest==9.0.2
python-dateutil==2.9.0.post0
rasterio==1.4.4
requests==2.32.5
seaborn==0.13.2
sentry-sdk==2.47.0
xarray==2025.12.0
